<html>

<head>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/home.css">
  <ul class="nav justify-content-center" id="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/students">List of students</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/students/data">Data visualization</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/students/create">Creation of student</a>
    </li>
  </ul>
</head>

<body>
  <div id="epf">
    <img src="/logoEPF.png" width=300 height=120>
  </div>
  <p id="title">
    Welcome to EPF-Book !
  </p>
  <p id="text">
    EPF-Book is a project realized by <strong>Maxence Duffuler</strong>, an EPF student, for Web Programming class.<br> Through
    differents practical works with M.Burel, students learnt a lot about how to code and use JavaScript, HTML and CSS.
  </p>
  <div id="book">
    <img src="/livre.png" width=300 height=100>
  </div>
  <script src="/js/bootstrap.js"></script>
</body>
<footer>
  <p>© Duffuler Maxence - EPF - 2021 - All rights reserved</p>
</footer>

</html>
<!doctype html>