<html>
    <head>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/students-data.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.css" integrity="sha512-cznfNokevSG7QPA5dZepud8taylLdvgr0lDqw/FEZIhluFsSwyvS81CMnRdrNSKwbsmc43LtRd2/WMQV+Z85AQ==" crossorigin="anonymous" />
        <script src="/data.js"> </script>
    <ul class="nav justify-content-center" id="nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/students">List of students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/students/data">Data visualization</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/students/create">Creation of student</a>
        </li>
    </ul>
    </head>
    <body>
        <div id="chart"></div>
    </body>
    <script src="/js/bootstrap.js"></script>
</html>